---
title: Home
heading: 'Hi, welcome to Murf'
---
<div class="jumbotron">
  <h1>{{ heading }}</h1>
  <p>We love Murfreesboro, and so do many others. We're a small group of people, growing all the time, looking to foster an attitude of civic engagement in the community. We're students, teachers, business owners, and parents. We live here, in Murfreesboro. We like to have fun here, in Murfreesboro. We want to make this place awesome
  <h2>So what's all this about?</h2>
  <p>We see Murfreesboro (especially our Historic Downtown) as a community filled with potential. Murfreesboro is a great place to live: greenways, good parks, good schools, and the like, but these things are just the beginning. We have great people, too; great people with great ideas. We have some problems and lot of room to grow. We Heart Murf is about connections that lead to discussions that lead to actions that lead to changes that lead to substantial improvements in the community that we affectionately call "Murf".</p>
  <h2>Why "Murf?"</h2>
  <p>Because Murfreesboro is a mouthful. Many call it M'boro, or simply the Boro. "Boro" isn't bad, but in all honestly, it's not all that pretty. Where's the character, the feeling of community? "Boro" works, but we like Murf better. It's cozy and feels like home. It's different: unique like the rest of our city. Sophisticated but not pretentious. There are so many boros, but there's only one Murf.</p>
  <h2>Find out more</h2>
  {{> email_signup}}
</div>
